.nav {
  position: sticky;
  top: 0;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.07);
  background: var(--bg);
}

.nav a {
  margin: 0 18px;
  text-decoration: none;
  font-weight: 500;
}